<div class = "container">
    <div class = "row">
        <div class = "col lg-6 login-welcome">
            <h3>Welcome to Kliens Cloud!</h3>
            <div class = "login-welcome-text"> This application lets you log in to your dropbox account, browse, download and upload files, easily and intuitively. <br/> <br/>Please log in to your dropbox account to be redirected to browsing! </div>
        </div>
        <div class = "col lg-6 login-form-wrapper">
            <h3>Login</h3>
            <form>
                <div class="form-group">
                    <label for="login-email">Email address</label>
                    <input type="email" class="form-control" id="login-email" placeholder="Enter email">
                    <small class="form-text text-muted">Log in using your dropbox email and password</small>
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Password">
                </div>
                <button class = "btn btn-success">Log in</button>
            </form>
        </div>
    </div>
</div>