<div class="container-fluid">
    <div class="row">
        <div class="sidebar d-flex justify-content-left col-lg-1 col-sm-1">
            <mat-card>
                <mat-card-content>
                    <div class="quick-access-title">Quick access</div>
                    <div class="quick-access-item">File 1</div>
                    <div class="quick-access-item">File 2</div>
                    <div class="quick-access-item">File 3</div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="browsing-header d-flex col-lg-1 col-sm-1">
            <div>mzergi\</div>
        </div>
        <div class="browsing-content col-lg-1 col-sm-1">
            <div class="browsing-content-folders">
                <b>Folders</b>
                <div class="card-group">
                    <div class="col-sm-2 mb-2 mt-4">
                        <div class="card browsing-content-folders-item">
                            <div class="card-body">
                                Cicásképek
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-2 mt-4">
                        <div class="card browsing-content-folders-item">
                            <div class="card-body">
                                Kutyásképek
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-2 mt-4">
                        <div class="card browsing-content-folders-item">
                            <div class="card-body">
                                Zsiráfosképek
                            </div>
                        </div>
                    </div>
                </div>

                <div class="browsing-content-files">
                    <b>Files</b>
                    <div class="card-group">
                        <div class="col-sm-2 mb-2 mt-4">
                            <div class="card browsing-content-files-item">
                                <div class="card-body">
                                    dogecoin.pdf
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 mb-2 mt-4">
                            <div class="card browsing-content-files-item">
                                <div class="card-body">
                                    cutedoggo.jpg
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 mb-2 mt-4">
                            <div class="card browsing-content-files-item">
                                <div class="card-body">
                                    very-serious-presentation.ppt
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>